.primary{
    background-color: cyan; 
    height: 2rem;
    width: 6rem;      
    border-radius: 5px;
    padding: 4px;
    font-size: 12px;
}

.secondary{
    background-color:rgb(56, 121, 206); 
    width: 6rem; 
    border-radius: 5px;
    padding: 4px; 
    font-size: 16px; 
   
}